@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
   box-shadow: 4px 4px #244C92;
}
.card {
   @apply transition-all;
   box-shadow: 4px 4px #244C92;
}
.card:hover {
   box-shadow: 6px 6px #244C92;
}

.searchbox {
   box-shadow: 2px 2px #244C92;
}

.touch-scroll::-webkit-scrollbar {
   height: 10px;
 }

.touch-scroll::-webkit-scrollbar-thumb {
   background: rgb(187, 187, 187);
   border-radius: 10px;
 }


 /* .touch-scroll::-webkit-scrollbar-corner{
   border-radius: 999px;
 } */